/* resets */

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

/* header */


header {
  height: 60px;
  background-color: #75B9BE;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #menuBtn {
  float: left;
  height: 100%;
  position: absolute;
  left: 0;
}

header h2 {
  display: inline;
}


nav ul {
  position: absolute;
  background-color: #75B9BE;
  opacity: 0.95;
  top: 60px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 100ms linear;
  z-index: 10;
  height: 0;
}

.open-menu {
  height: 200px;
}

nav ul li a {
  font-size: 1.4em;
  color: white;
  margin: 20px;
}

/* headers */

h1 {
  text-align: center;
}


/* cards */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 5%;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


.wild-elephant-card img {
  width: 96%;
  margin: 4px 0;
}

.wild-elephant-card button {
  align-self: flex-end;
}

button {
  font-size: 1.2em;
  padding: 8px;
}

.sanctuary-elephant-card {
  position: relative;
}

.sanctuary-elephant-card .details {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sanctuary-elephant-card .thumbnail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sanctuary-elephant-card .gif {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.sanctuary-elephant-card .gif img {
  width: 100%;
}


/* form */

.new-form {
  width: 66%;
  margin: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}


.new-form input,
.new-form select {
  font-size: 1.4em;
  height: 40px;
}

.new-form > div {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 100%;
}

.radio-buttons > div {
  display: flex;
  justify-content: space-around;
}

.radio-buttons > label {
  margin-bottom: 6px;
}

.radio-buttons > div > div {
  display: flex;
  align-items: center;
  padding: 8px;
}

input[type=radio]:hover {
  cursor: pointer;
}




