/* resets */

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #dbf9ee;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2 {
  margin: 0;
}

input,
select {
  border: 1px solid grey;
  border-radius: 4px;
}

/* alert  */

.alert-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background-color: rgba(0,0,0,0.2)
}

.alert {
  padding: 20px;
  width: 60%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  background-color: #50e5ad;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  border-radius: 6px;
}

.alert-message {
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px;
}

.alert-buttons {
  display: flex;
  width: 100%;
}

.alert-buttons button {
  width: 40%;
  text-align: center;
}

/* header */
jb-header {
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  background-color: #50e5ad;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

header #menuBtn {
  float: left;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

header #menuBtn:hover {
  cursor: pointer;
}

header h2 {
  display: inline;
}


nav ul {
  position: absolute;
  background-color: #50e5ad;
  opacity: 0.95;
  top: 60px;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: 100ms linear;
  z-index: 10;
  height: 0;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.open-menu {
  height: 200px;
}

nav ul li a {
  font-size: 1.4em;
  color: white;
  margin: 20px;
}

/* headers */

h1 {
  text-align: center;
}


/* cards */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 5%;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}


.wild-elephant-card > img {
  width: 96%;
  margin: 4px 0;
}

.wild-elephant-card button {
  align-self: flex-end;
}

.human-card {
  flex-direction: row;
  justify-content: space-around;
}

button {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn {
  /* border: 1px solid #005b38; */
  border-radius: 4px;
  padding: 14px 20px;
  margin: 14px auto;
  background-color: #83f7cb;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.danger {
  background-color: #ffa4a3;
}

.sanctuary-elephant-card {
  position: relative;
}

.sanctuary-elephant-card > div {
  margin: 10px 0;
}

.sanctuary-elephant-card .content {
  width: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.sanctuary-elephant-card .content h3 {
  font-size: 1.6em;
}

.sanctuary-elephant-card p,
.sanctuary-elephant-card h3 {
  margin: 4px;
}

.sanctuary-elephant-card .thumbnail {
  margin: 26px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: underline;
}

.sanctuary-elephant-card .details {
  position: relative;
}

.sanctuary-elephant-card .check-out-confirm {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.sanctuary-elephant-card .check-out-confirm > div {
  display: flex;
  justify-content: space-around;
  text-decoration: underline;
  font-size: 1.5em;
}

.sanctuary-elephant-card .radio-buttons {
  margin: 28px 0;
}

.sanctuary-elephant-card .gif {
  background-color: white;
  position: absolute;
  height: 100%;
  width: 100%;
}

.sanctuary-elephant-card .gif img {
  width: 100%;
}


/* form */

.new-form {
  width: 66%;
  margin: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}


.new-form input,
.new-form select {
  font-size: 1.4em;
  height: 40px;
  padding-left: 6px;
}

.new-form > div {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 100%;
}

.radio-buttons > div {
  display: flex;
  justify-content: space-around;
}

.radio-buttons > label {
  margin-bottom: 6px;
}

.radio-buttons > div > div {
  display: flex;
  align-items: center;
  padding: 8px;
}

input[type=radio]:hover {
  cursor: pointer;
}




