<header>
  <button
    id="menuBtn"
    ng-click="vm.toggleMenu()"
  >
    <img ng-show="!vm.open" ng-src="styles/icons/burger.svg" />
    <img ng-show="vm.open" ng-src="styles/icons/close.svg" />
  </button>
  <h2>{{ vm.header.text }}</h2>
</header>
<nav>
    <ul ng-class="{ 'open-menu': vm.open }">

      <li>
        <a href="/#!/" ng-click="vm.closeMenu()">Elephants</a>
        {{ vm.message }}
      </li>

      <li>
          <a href="/#!/sanctuary" ng-click="vm.closeMenu()">Sanctuary</a>
      </li>

      <li>
          <a href="/#!/humans" ng-click="vm.closeMenu()">Humans</a>
      </li>

    </ul>
  </nav>